{{template "body" .}}

<div class="row">
	<div class="col-12 col-lg-8">
		<div class="mb-3">
			<form action="#" method="POST">
				<input type='hidden' name="type" value="{{$.PaperTypeName}}">
				<button class="btn btn-primary">Reload {{$.PaperTypeName}}</button>
			</form>
		</div>
		<div class="tab">
			<ul class="nav nav-tabs" role="tablist">
{{range $key, $value := .PaperTypes}}
				<li class="nav-item"><a class="nav-link" href="#tab-{{$value.Name}}" data-bs-toggle="tab" role="tab">{{$value.Name}}</a></li>
{{end}}
			</ul>

			<div class="tab-content">
{{range $key, $value := .PaperTypes}}
				<div class="tab-pane" id="tab-{{$value.Name}}" role="tabpanel">
					<div class="card">
						<div class="card-body">
							<table id="datatables-fixed-header-{{$value.Name}}" class="table table-striped" style="width:100%">
								<thead>
									<th>#</th>
									<th>Ticker</th>
									<th>Figi</th>
									<th>Name</th>
								</thead>

								<tbody>

									{{range $key, $valuePaper := $value.Papers}}
									<tr>
										<td>{{$key}}</td>
										<td>{{$valuePaper.Ticker}}</td>
										<td>{{$valuePaper.FIGI}}</td>
										<td><a href='#'
												onclick='$("#details").html(JSON.stringify(JSON.parse("{{$valuePaper.Extra}}"),null,4))'>{{$valuePaper.Name}}</a>
										</td>
									</tr>
									{{end}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
{{end}}
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4">
		<div class="tab">
			<h3>Details</h3>
			<code>
				<pre id='details' style="font-size: 12px">

				</pre>
			</code>
		</div>
	</div>


	<script src="js/datatables.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Datatables Fixed Header
			$("#datatables-fixed-header-All").DataTable({
				fixedHeader: true,
				pageLength: 25
			});
			$("#datatables-fixed-header-Base").DataTable({
				fixedHeader: true,
				pageLength: 25
			});
		});
	</script>


	{{template "footer" .}}